body {
  font-family: consolas, sans-serif;
}

#root {
  width: 100%;
}

#root > div {
  display: flex;
}

.wrap {
  width: 100%;
  display: flex;
}

.grid {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.cell {
  border: 1px solid white;
  display: flex;
  background: #eee;
  height: 100px;
  width: 100px;
  position: relative;
}

.controls {
  width: 100px;
}

.column .cell {
  border: 1px solid #eee;
}

.tile {
  flex: auto;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cell span {
  text-align: center;
  width: 100%;
  height: 100%;
  user-select: none;
  background: grey;
  position: relative;
  overflow: hidden;
}

.cross:after,
.cell span:before {
  content: "";
  display: block;
  position: absolute;
  border: solid 10px white;
  width: 0px;
  height: 100%;
  left: 40px;
}

.cross:after,
.horizontal {
  transform: rotate(90deg);
}

.cross:after {
  top: -10px
}

.cell .topToLeft:before,
.cell .topToRight:before,
.cell .bottomToLeft:before,
.cell .bottomToRight:before {
  width: 100%;
  border-radius: 30px;
  border-width: 20px;
}

.cell .bottomToLeft:before {
  transform: translate(-120px, 40px);
}
.cell .topToLeft:before {
  transform: translate(0px, -80px);
}
.cell .topToRight:before {
  transform: translate(-120px, -80px);
}
.cell .bottomToRight:before {
  transform: translate(0px, 40px);
}
