body {
}

#root {
  width: 100%;
}

#root > div {
  display: flex;
}

.wrap {
  width: 100%;
  display: flex;
}

.grid {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.controls {
  width: 100px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid white;
  display: flex;
  background: #eee;
  position: relative;
  width: 98px;
  height: 98px;
  user-select: none;
  overflow: hidden;
}

.cell:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.tile {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: lightgreen;
  z-index: 0;
}

.tile.hovered {
  opacity: 0.4;
  background: blue;
  z-index: 1;
}
