.pipe {
  content: "";
  display: block;
  position: absolute;
  background: white;
  height: 100%;
  width: 20px;
  left: 39px;
}

.north,
.south {
  height: 50%;
}

.south {
  bottom: 0;
}

.east,
.west {
  width: 50%;
  height: 20px;
  top: 38px;
}

.east {
  left: 0;
}
.west {
  right: 0;
  left: inherit;
}

.cross:last-child,
.horizontal {
  width: 100%;
  height: 20px;
  top: 38px;
  left: 0;
}

.north_west,
.north_east,
.south_west,
.south_east {
  height: 50%;
}

.south_west:first-child {
  bottom: 0;
}

.north_west:last-child,
.north_east:last-child,
.south_east:last-child,
.south_west:last-child {
  height: 20px;
  width: 59px;
  top: 42px;
}

.north_east:first-child,
.north_west:first-child {
  height: 59px;
}

.north_west:last-child,
.south_west:last-child {
  left: 0;
}
.north_east:last-child,
.south_east:last-child {
  right: 0;
}

.water {
  display: block;
  background: lightblue;
  position: absolute;
  width: 20px;
  transition: height 1s linear;
  height: 0;
  margin-left: -10px;
}

.north .water,
.east .water {
  bottom: 0;
}
.water.running {
  height: 100%;
}
