.pipe {
  content: "";
  display: block;
  position: absolute;
  border: solid 10px white;
  border-bottom-width: 0;
  border-top-width: 0;
  height: 100%;
  left: 38px;
}

.cross:last-of-type,
.horizontal {
  transform: rotate(90deg) translate(0px, -1px);
}

.north_west,
.north_east,
.south_west,
.south_east {
  width: 100%;
  border-radius: 30px;
  border-width: 20px;
}

.south_west {
  transform: translate(-118px, 39px);
}
.north_west {
  transform: translate(-118px, -79px);
}
.north_east {
  transform: translate(0, -79px);
}
.south_east {
  transform: translate(0px, 39px);
}

.west,
.east,
.north,
.south {
  height: 50%;
  border-bottom: none;
  border-top: none;
}

.west {
  transform: rotate(90deg) translate(24px, 24px)
}
.east {
  transform: rotate(90deg) translate(25px, -26px);
}
.south {
 transform: translate(0, 49px);
}

.water {
  display: block;
  background: lightblue;
  position: absolute;
  width: 20px;
  transition: height 1s linear;
  height: 0;
  margin-left: -10px;
}
.north .water,
.east .water {
  bottom: 0px;
}
.water.running {
  height: 100%;
}
